[submodule "academic/2025_term_md_summer/2025_exchange_at_universityofalberta"]
	path = academic/2025_term_md_summer/2025_exchange_at_universityofalberta
	url = https://github.com/jerzha40/2025_exchange_at_universityofalberta.git
[submodule "academic/2025_term_up_autumn/2025_term_up_autumn_fra_at_jlu"]
	path = academic/2025_term_up_autumn/2025_term_up_autumn_fra_at_jlu
	url = https://github.com/jerzha40/2025_term_up_autumn_fra_at_jlu.git
[submodule "academic/2025_term_up_autumn/2025_term_up_autumn_Computer_vision_lecture_at_jlu"]
	path = academic/2025_term_up_autumn/2025_term_up_autumn_Computer_vision_lecture_at_jlu
	url = https://github.com/jerzha40/2025_term_up_autumn_Computer_vision_lecture_at_jlu.git
[submodule "academic/2025_term_up_autumn/2025_term_up_autumn_ps_probability_statistics_at_jlu"]
	path = academic/2025_term_up_autumn/2025_term_up_autumn_ps_probability_statistics_at_jlu
	url = https://github.com/jerzha40/2025_term_up_autumn_ps_probability_statistics_at_jlu.git
